* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.wrapper {
  flex: 1;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 10px;
  height: 15px;
  font-weight: 700;
  border-top: 1px solid black;
}

.login-form {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}

.signup-form {
  text-align: center;
}